name: integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  preview:
    if: ${{ github.event_name == 'push' || github.repository == github.event.pull_request.head.repo.full_name && github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Compute service name
        run: |-
          echo "SERVICE_NAME=${GITHUB_JOB}-${{ matrix.name }}-${GITHUB_SHA::7}-${GITHUB_RUN_NUMBER}" >> ${GITHUB_ENV}

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Run build
        run: npm ci && npm run build

      - name: Google Auth
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: ${{ vars.WIF_PROVIDER_NAME }}
          service_account: ${{ vars.SERVICE_ACCOUNT_EMAIL }}

      - name: Preview Cloud Run
        uses: ./
        timeout-minutes: 3
        with:
          service: helloworld
          image: gcr.io/cloudrun/hello
          token: ${{ secrets.GITHUB_TOKEN }}
